@font-face
  font-family: 'daily'
  src:  url('../fonts/daily.eot?ugn9s3')
  src:  url('../fonts/daily.eot?ugn9s3#iefix') format('embedded-opentype'),
    url('../fonts/daily.ttf?ugn9s3') format('truetype'),
    url('../fonts/daily.woff?ugn9s3') format('woff'),
    url('../fonts/daily.svg?ugn9s3#daily') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'daily' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-pen:before
  content: "\e90f"

.icon-setting:before
  content: "\e913"

.icon-arrow-left:before
  content: "\e900"

.icon-arrow-return:before
  content: "\e901"

.icon-arrow-right:before
  content: "\e902"

.icon-close:before
  content: "\e903"

.icon-delete:before
  content: "\e904"

.icon-edit:before
  content: "\e905"

.icon-female-icon:before
  content: "\e906"

.icon-male-icon:before
  content: "\e907"

.icon-mood-happy:before
  content: "\e908"

.icon-mood-normal:before
  content: "\e909"

.icon-mood-sadness:before
  content: "\e90a"

.icon-weather-cloudy:before
  content: "\e90b"

.icon-weather-rainny:before
  content: "\e90c"

.icon-weather-snowly:before
  content: "\e90d"

.icon-weather-sunny:before
  content: "\e90e"

