/*
  css 预处理文件
*/
border-bottom-1px($color)
  position: relative
  /* 字符 '&' 表示父元素 */
  &:after
    display: block
    position: absolute
    width: 100%
    left: 0
    bottom: 0
    border-top: 1px solid $color
    content: " "

border-top-1px($color)
  position: absolute
  /* 字符 '&' 表示父元素 */
  &:after
    display: block
    position: absolute
    width: 100%
    left: 0
    top: 0
    border-top: 1px solid $color
    content: " "

border-none()
  &:after
    display: none
